<ion-header>
  <ion-toolbar>
    <ion-title class="tittleent" color="tertiary">Entradas & Pratos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/salada1.jpg"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Salada do dia</center></ion-card-tittle>
      <ion-card-subtitle><center>4,99 €</center></ion-card-subtitle>
      
     </ion-card-hearder>
    </ion-card>
  </ion-row>
  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/torrada.jpg"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Torradas</center></ion-card-tittle>
      <ion-card-subtitle><center>4,99 € (porção)</center></ion-card-subtitle>
      <ion-card-subtitle><center>Queijo fresco e tomate ou vegetariana</center></ion-card-subtitle>
     </ion-card-hearder>
    </ion-card>
  </ion-row>
  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/folheado.jpg"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Folhado de Queijo Brie, Rúcula e Pimentos</center></ion-card-tittle>
      <ion-card-subtitle><center>6,99 € (2 uni)</center></ion-card-subtitle>
      </ion-card-hearder>
    </ion-card>
  </ion-row>
  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/sopa1.jpg"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Sopa do dia</center></ion-card-tittle>
      <ion-card-subtitle><center>5,99 €</center></ion-card-subtitle>
      
     </ion-card-hearder>
    </ion-card>
  </ion-row>
  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/natas.jpg"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Bacalhau com natas</center></ion-card-tittle>
      <ion-card-subtitle><center>8,99 €</center></ion-card-subtitle>
      
     </ion-card-hearder>
    </ion-card>
  </ion-row>
  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/feijoada.png"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Feijoada</center></ion-card-tittle>
      <ion-card-subtitle><center>7,99 €</center></ion-card-subtitle>
      <ion-card-subtitle><center>Carnes ou vegetariana</center></ion-card-subtitle>
     </ion-card-hearder>
    </ion-card>
  </ion-row>
  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/entre.jpg"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Entrecosto com molho de mel e hortelã</center></ion-card-tittle>
      <ion-card-subtitle><center>11,99 €</center></ion-card-subtitle>
      
     </ion-card-hearder>
    </ion-card>
  </ion-row>
  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/grelhada.jpg"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Grelhada mista</center></ion-card-tittle>
      <ion-card-subtitle><center>10,99 €</center></ion-card-subtitle>
      <ion-card-subtitle><center>Carnes ou vegetariana</center></ion-card-subtitle>
     </ion-card-hearder>
    </ion-card>
  </ion-row>
  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/salmao.jpg"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Salmão Grelhado</center></ion-card-tittle>
      <ion-card-subtitle><center>11,99 €</center></ion-card-subtitle>
           </ion-card-hearder>
    </ion-card>
  </ion-row>
  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/frango.jpeg"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Filé de frango grelhado</center></ion-card-tittle>
      <ion-card-subtitle><center>9,99 €</center></ion-card-subtitle>
           </ion-card-hearder>
    </ion-card>
  </ion-row>

</ion-content>
