<ion-header>
  <ion-toolbar>
    <ion-title class="tittlehome" color="tertiary">Home - Bistrô Luso Carioca</ion-title>
  </ion-toolbar>
  <p><i>Bistrô Luso Carioca - localizado no centro da nossa amada Coimbra, trazendo pratos 
feitos com todo carinho e sabor.</i></p>
<p>Rua da Felicidade, nº 6 - Coimbra - Portugal</p>
</ion-header>

<ion-content>
  <ion-img class=" img-login center" style="width: 100%" src="../assets/bistro.jpg"></ion-img>
  <ion-row class="centralizado">
    <ion-card class="card-center"  style="width: 50%">
      <ion-img class="img-login center" src="../assets/polvo.jpg"></ion-img>
      <ion-card-hearder>
      <ion-card-tittle class="titulo-produto">Promoção do Dia: Polvo a Lagareiro</ion-card-tittle>
      <ion-card-subtitle><center>40,00 € (para 4 pessoas)</center></ion-card-subtitle>
      <ion-card-subtitle>(acompanha: sopa, salada, sobremesa e 1 taça de vinho verde por pessoa)</ion-card-subtitle>
    </ion-card-hearder>
    </ion-card>
  </ion-row>
   
    
    
  
</ion-content>


