<ion-header>
  <ion-toolbar>
    <ion-title class="tittlelanche" color="tertiary">Lanches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/sandes1.jpg"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Sandes</center></ion-card-tittle>
      <ion-card-subtitle><center>6,99 €</center></ion-card-subtitle>
      <ion-card-subtitle><center>Leitão, frango com cenoura ou vegetariano</center></ion-card-subtitle>
      
    </ion-card-hearder>
    </ion-card>
  </ion-row>

  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/burguer.jpg"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Burguer</center></ion-card-tittle>
      <ion-card-subtitle><center>7,99 €</center></ion-card-subtitle>
      <ion-card-subtitle><center>Carnes de vaca, frango, porco ou vegetariano</center></ion-card-subtitle>
     </ion-card-hearder>
    </ion-card>
  </ion-row>

  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/batata.webp"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Batata</center></ion-card-tittle>
      <ion-card-subtitle><center>5,99 € (porção)</center></ion-card-subtitle>
      <ion-card-subtitle><center>Molhos de azeitona, cheedar, 4 queijos ou ervas finas</center></ion-card-subtitle>
     </ion-card-hearder>
    </ion-card>
  </ion-row>
  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/pizza.jpg"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Pizza</center></ion-card-tittle>
      <ion-card-subtitle><center>12,99 € (6 fatias)</center></ion-card-subtitle>
      <ion-card-subtitle><center>Sabores do dia</center></ion-card-subtitle>
      
    </ion-card-hearder>
    </ion-card>
  </ion-row>

  

</ion-content>
