<ion-header>
  <ion-toolbar>
    <ion-title class="tittlesob" color="tertiary">Sobremesas & Bebidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/torta1.jpg"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Torta do dia</center></ion-card-tittle>
      <ion-card-subtitle><center>3,99 € (fatia)</center></ion-card-subtitle>
      <ion-card-subtitle><center>Temos opção sem lactose</center></ion-card-subtitle>
      
    </ion-card-hearder>
    </ion-card>
  </ion-row>
  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/bolo1.png"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Bolo de Ançã</center></ion-card-tittle>
      <ion-card-subtitle><center>3,99 €</center></ion-card-subtitle>
      <ion-card-subtitle><center>Recheio de goiabada, doce de leite ou mel</center></ion-card-subtitle>
      
    </ion-card-hearder>
    </ion-card>
  </ion-row>
  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/natas2.jpeg"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Natas do céu</center></ion-card-tittle>
      <ion-card-subtitle><center>3,99 €</center></ion-card-subtitle>
           
    </ion-card-hearder>
    </ion-card>
  </ion-row>
  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/pave.webp"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Pavê</center></ion-card-tittle>
      <ion-card-subtitle><center>4,99 € (fatia)</center></ion-card-subtitle>
      <ion-card-subtitle><center>Sabor do dia</center></ion-card-subtitle>
      
    </ion-card-hearder>
    </ion-card>
  </ion-row>
  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/refri.webp"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Refrigerantes</center></ion-card-tittle>
      <ion-card-subtitle><center>3,99 € (copo refil)</center></ion-card-subtitle>
      <ion-card-subtitle><center>Sumol, Coca Cola, Fanta, Sprite</center></ion-card-subtitle>
      
    </ion-card-hearder>
    </ion-card>
  </ion-row>
  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/sumo.jpg"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Sumos de fruta</center></ion-card-tittle>
      <ion-card-subtitle><center>4,99 € (copo 250 ml)</center></ion-card-subtitle>
      <ion-card-subtitle><center>Frutas sazonais</center></ion-card-subtitle>
      
    </ion-card-hearder>
    </ion-card>
  </ion-row>
  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/cha.jpeg"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Chá </center></ion-card-tittle>
      <ion-card-subtitle><center>2,99 € (xícara)</center></ion-card-subtitle>
      <ion-card-subtitle><center>Sabores diversos</center></ion-card-subtitle>
      
    </ion-card-hearder>
    </ion-card>
  </ion-row>
  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/cerveja.webp"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Cerveja</center></ion-card-tittle>
      <ion-card-subtitle><center>3,99 € (300ml)</center></ion-card-subtitle>
      <ion-card-subtitle><center>Diversas</center></ion-card-subtitle>
      
    </ion-card-hearder>
    </ion-card>
  </ion-row>
  <ion-row class="centralizado">
    <ion-card class="card" style="width: 30%">
    <ion-img class=" img-login center" src="../assets/vinhos.jpg"></ion-img>
    <ion-card-hearder>
      <ion-card-tittle class="titulo-produto"><center>Vinho</center></ion-card-tittle>
      <ion-card-subtitle><center>7,99 € (taça)</center></ion-card-subtitle>
      <ion-card-subtitle><center>Exclusivamente Portugueses</center></ion-card-subtitle>
      
    </ion-card-hearder>
    </ion-card>
  </ion-row>

</ion-content>
